
/*reg form*/
.upload-img{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 190px;
	background-color: #CDCDCD;
}
.upload-img .fa-camera{
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	height: 30px;
	color: white;
}
/*/reg form*/